.header {
  background-color: #8527c3fd;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body{

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0;
}

.hamburger-label {
  display: none;
}

.menu-toggle {
  display: none;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.nav-link svg {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .hamburger-label {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #8527c3fd;
    border-top: 1px solid #8527c3fd;
  }

  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .nav-link {
    justify-content: center;
    padding: 1rem;
  }
}
