/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

h2 {
  color: #000000;
  margin-bottom: 20px;
}
/* Contenedor para el selector de búsqueda */
#buscar-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 20px;
  background-color: #8527c3fd; /* Fondo morado */
  border-radius: 8px;
  padding: 10px;
  top: 120px; /* Baja el filtro cerca del formulario */
  left: 20px; /* Pegado al borde izquierdo */
}

.label-buscar {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
}

.form-select {
  width: 100%;
  height: 35px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  color: #333;
}

.form-select option {
  background-color: white;
  color: #333;
}

/* Tabla */
.table {
  width: 75%;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 70px;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #8527c3fd;
  color: white;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #8527c383;
  border-radius: 5px;
}

/* Estilos de los botones de Activar/Desactivar */
button.btn-sm {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

button.btn-danger {
  background-color: #e74c3c; /* Rojo */
}

button.btn-success {
  background-color: #2ecc71; /* Verde */
}

button.btn-sm:hover {
  opacity: 0.9;
}

.btn-edit svg {
  width: 18px;
  height: 18px;
  fill: #000;
}

.btn-edit:hover svg {
  fill: #007bff;
  width: 28px;
  height: 28px;
}

/* Botón Agregar Cliente */
.btn-agregar {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #8527c3fd;
  color: white;
  padding: 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-agregar span {
  font-size: 1rem;
  margin-bottom: 5px;
}

.btn-agregar svg {
  width: 30px;
  height: 30px;
}

.btn-agregar:hover {
  background-color: #6e1d9b;
}


