<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/form.css">
  <title>Registrar categorías</title>
</head>
<body>

  <div id="header-placeholder"></div>

  <div class="container mt-5">


  <main class="main-content">
    <form id="categoryForm">
      <h2>Registro de una Categoría para un Proyecto</h2>

      <div class="mb-3">
        <label for="PC.nombre" class="form-label">Nombre<span class="asterisco">*</span></label>
        <input type="text" id="PC.nombre" name="nombre" class="form-control">
      </div>

      <div class="mb-3">
        <label for="PC.descripcion" class="form-label">Descripción<span class="asterisco">*</span></label>
        <input type="text" id="PC.descripcion" name="descripcion" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Registrar</button>

      <div id="message" class="alert alert-dismissible" role="alert" style="display:none;">
        <span id="message-text"></span>
      </div>

      <div id="messageContainer"></div>

    </form>

  </main>

  </div>

<script src="../js/loadHeader.js"></script>
<script src="../js/registerCategory.js"></script>
</body>
</html>
