<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/form.css">

  <title>Cambiar Contraseña</title>
</head>
<body>
<div class="container-fluid">

  <main class="main-content">
    <form class="mt-5" id="change-password-form">
      <h2>Cambiar Contraseña</h2>

      <div id="email-section">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" placeholder="Ingresa tu Correo" required readonly>
        <br><br>
      </div>

      <div id="password-section">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingresa tu nueva contraseña" required>
        <br><br>

        <label for="confirm-password">Confirma tu nueva contraseña:</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirma tu nueva contraseña" required>
        <br><br>

        <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
      </div>

      <!-- Mensajes de éxito o error -->
      <div id="message" class="alert alert-dismissible" role="alert" style="display:none;">
        <span id="message-text"></span>
      </div>
    </form>
  </main>
  <script src="../js/chagePass.js"></script>
</div>
</body>
</html>

