<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/form.css">

  <title>Customers</title>
</head>
<body>
<div class="container-fluid">
  <div id="header-placeholder"></div>
  <main class="main-content">
    <form class="mt-5" action="/submit" method="post">
      <h2>Perfil</h2>

      <strong>Nombre:</strong>
      <span>Juan</span>
      <br><br>

      <strong>Apellido:</strong>
      <span>Pérez</span>
      <br><br>

      <strong>Correo:</strong>
      <span>juan.perez@example.com</span>
      <br><br>

      <strong>Teléfono:</strong>
      <span>+52 123 456 7890</span>
      <br><br>

      <strong>Contraseña:</strong>
      <span>************</span>
      <br><br>

      <a href="#" class="nav-link">Cambiar de contraseña</a>
      <br>

      <a href="#" class="nav-link">Cerrar sesion</a>

    </form>
  </main>
</div>
<script src="/js/loadHeader.js"></script>
</body>
</html>
