<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/form.css">
  <title>Registrar Proyecto</title>
</head>
<body>

<div id="header-placeholder"></div>

<div class="container mt-5">

  <main class="main-content">
    <form id="project-form">
      <h2>Registro de Proyecto</h2>

      <input type="hidden" id="P.id" name="id">

      <div class="mb-3">
        <label for="P.nombre" class="form-label">Nombre <span class="asterisco">*</span></label>
        <input type="text" id="P.nombre" name="name" class="form-control">
      </div>

      <div class="mb-3">
        <label for="P.abreviatura" class="form-label">Abreviatura <span class="asterisco">*</span></label>
        <input type="text" id="P.abreviatura" name="abbreviation" class="form-control">
      </div>

      <div class="mb-3">
        <label for="P.descripción" class="form-label">Descripción <span class="asterisco">*</span></label>
        <input type="text" id="P.descripción" name="description" class="form-control">
      </div>

      <div class="mb-3">
        <label for="P.categoria" class="form-label">Categoría <span class="asterisco">*</span></label>
        <select id="P.categoria" name="projectCategoryId" class="form-control">
          <option value="">Selecciona una opción</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="P.cliente" class="form-label">Cliente <span class="asterisco">*</span></label>
        <select id="P.cliente" name="customerId" class="form-control">
          <option value="">Selecciona una opción</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </main>
</div>

<script src="../js/loadHeader.js"></script>
<script src="../js/registerProject.js"></script>
</body>
</html>

