<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/form.css">
  <title>Registrar Usuario</title>
</head>
<body>

  <div id="header-placeholder"></div>

<div class="container mt-5">

  <main class="main-content">
    <form id="userForm">
      <h2>Registrar Usuario</h2>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="U.nombre" class="form-label">Nombre <span class="asterisco">*</span></label>
          <input type="text" id="U.nombre" name="nombre" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="U.apellidos" class="form-label">Apellidos <span class="asterisco">*</span></label>
          <input type="text" id="U.apellidos" name="apellidos" class="form-control">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="U.email" class="form-label">Correo Electrónico <span class="asterisco">*</span></label>
          <input type="email" id="U.email" name="email" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="U.telefono" class="form-label">Teléfono <span class="asterisco">*</span></label>
          <input type="tel" id="U.telefono" name="telefono" class="form-control">
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-12">
          <label for="U.password" class="form-label">Contraseña <span class="asterisco">*</span></label>
          <input type="password" id="U.password" name="password" class="form-control">
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-12">
          <label for="U.Cpassword" class="form-label">Confirme su contraseña <span class="asterisco">*</span></label>
          <input type="password" id="U.Cpassword" name="Cpassword" class="form-control">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <label for="U.rol" class="form-label">Rol <span class="asterisco">*</span></label>
          <select id="U.rol" name="rol" class="form-control">
            <option value="">Selecciona un rol</option>
            <option value="Administrador">Administrador</option>
            <option value="Usuario">Usuario</option>
          </select>
        </div>
      </div>


      <button type="submit" class="btn btn-primary">Registrar</button>

      <div id="message" class="alert alert-dismissible" role="alert" style="display:none;">
        <span id="message-text"></span>
      </div>

    </form>
  </main>
</div>

<script src="../js/loadHeader.js"></script>
<script src="../js/registerUser.js"></script>
</body>
</html>
