<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/form.css">
  <title>Registrar Usuario</title>
</head>
<body>
<div class="container-fluid">
  <div id="header-placeholder"></div>
  <main class="main-content">
    <form id="userForm" class="mt-5">
      <h2>Registrar Usuario</h2>

      <label for="U.nombre">Nombre:</label>
      <input type="text" id="U.nombre" name="nombre" required>
      <br><br>

      <label for="U.apellidos">Apellidos:</label>
      <input type="text" id="U.apellidos" name="apellidos" required>
      <br><br>

      <label for="U.email">Correo Electrónico:</label>
      <input type="email" id="U.email" name="email" required>
      <br><br>

      <label for="U.telefono">Teléfono:</label>
      <input type="tel" id="U.telefono" name="telefono" required>
      <br><br>

      <label for="U.password">Contraseña:</label>
      <input type="password" id="U.password" name="password" required>
      <br><br>

      <label for="U.Cpassword">Confirme su contraseña:</label>
      <input type="password" id="U.Cpassword" name="Cpassword" required>
      <br><br>

      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </main>
</div>
<script src="../js/loadHeader.js"></script>
<script src="../js/registerUser.js"></script>
</body>
</html>
